<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <form th:object="${staff}" action="/create" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td><input placeholder="nhập mã" th:field="*{employeeCode}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('employeeCode')}" th:errors="*{employeeCode}"></td>
            <tr>
            <tr>
                <td><input placeholder="nhập tên" th:field="*{name}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            <tr>
            <tr>
                <td><input placeholder="nhập tuổi" th:field="*{age}"></td>
                <td style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></td>

            <tr>
            <tr>
                <td><input placeholder="nhập lương" th:field="*{salary}"></td>
            <tr>
            <tr>
                <td><input placeholder="nhập phòng ban" th:field="*{branch}"></td>
            <tr>
            <tr>

                <button type="submit" class="btn btn-success">Add New</button>
            </tr>
            <tr>
                <td> <a href="/staff" class="btn btn-info">Back</a></td>
            </tr>

            </tbody>
        </table>
    </form>
</div>

</body>
</html>