<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <table class="table table-bordered">
        <tbody>
        <tr th:object="${staff}">
            <td><input th:field="*{id}" readonly></td>
            <td><input th:field="*{employeeCode}" readonly></td>
            <td><input th:field="*{name}" readonly></td>
            <td><input th:field="*{age}" readonly></td>
            <td><input th:field="*{salary}" readonly></td>
            <td><a th:href="@{/edit/__${staff.id}__}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/delete/__${staff.id}__}" class="btn btn-danger">Delete</a></td>
            </td>
        </tr>
        <tr>
            <td> <a href="/staff" class="btn btn-info">Back</a></td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>